<ul>
  <% @repositories.each do |result| %>
    <ol><%=result.repo_name%></ol>
    <ul>
      <li><a href=<%=result.repo_url%>><%=result.repo_url%></a></li>
      <li><%=result.open_pr_count%></li>
    </ul>
  <% end %>
</ul>