<ul>
  <% @repositories.each do |result| %>
    <ul>
      <li><a href=<%=result.repo_url%>><%=result.repo_name%></a></li>
      <li><%=result.open_pr_count%></li>
      <br>
    </ul>
  <% end %>
</ul>